.HeroSection {
    /* background image */
    background-image: url(../../Assets//IMGS/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
}
.HeroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid goldenrod;
    box-shadow: rgb(52, 47, 47);
}
h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn-primary{
    background-color: rgb(19, 168, 237);
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: #fff;
    color: goldenrod;
    transform: scale(1.05);

}