.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(87, 85, 85);
    padding: 1rem;
    margin: 1rem;
    background: url(../../Assets/IMGS/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.History {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
}

.History span {
    color: var(--accent-color);
    font-weight: bolder;
    font-size: 2rem;
}

.History p {
    gap: 1rem !important;
    margin: 2rem !important;
    font-size: 2rem !important;
    font-weight: bolder !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.History p:nth-child(2) {
    color: var(--text-color);
    font-size: 1.2rem !important;
    margin: 1rem !important;
}

.AboutContent {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 200px;
    height: 250px;
    border-radius: 10px;
    padding: 1rem;
    background: rgb(68, 66, 66);
}

.AboutContent h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--accent-color);
    text-align: center;
}

.About p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--text-color);
    text-align: center;
    margin-top: 1rem;
    padding: .5rem;
}

/* media queries */
@media screen and (max-width: 768px) {
    .About {
        overflow: hidden;
        gap: 1rem;
    }

    .History {
        font-size: 1rem !important;
        margin: 0;
        height: 25rem;
    }

    .History p {
        margin: 0;
        font-size: 1.5rem !important;
    }
}