.Navbar {
    background-color: var(--bg-color);
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    position: fixed;
}

.NavbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

.NavbarLogo {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.NavbarLogo img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: .5rem;
    border: 2px solid var(--accent-color);
}

.NavbarLogo span {
    color: var(--accent-color);
}

.NavbarMenu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.SearchBox {
    width: 50%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    padding: 1rem;
}

.SearchBox input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--bg-color-clear);
    transition: all 0.3s ease-in-out;
}

.SearchBox:hover {
    box-shadow: 0 0 10px var(--accent-color);
}

.Menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.Menu ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.NavItem {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    list-style: none;
}

.NavItem:hover {
    color: var(--accent-color);
}

/* media queries */
@media only screen and (max-width: 1400px) {

    .MenuIcon {
        display: none;
    }

}

@media only screen and (max-width: 1200px) {
    .MenuIcon {
        display: block;
    }

    .NavbarMenu {
        display: none;
    }

    .NavbarMenu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        padding: 1rem;
        background-color: rgb(27, 27, 31);
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (max-width: 600px) {
    .MenuIcon {
        display: block;
    }

    .NavbarMenu {
        display: none;
    }

    .NavbarMenu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        padding: 1rem;
        background-color: rgb(27, 27, 31);
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }

    .NavbarLogo {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .Navbar {
        width: 100%;
        height: 7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
        padding: 0;
    }

    .MenuIcon {
        display: block;
    }

    .NavbarMenu {
        display: none;
    }

    .NavbarMenu.active {
        top: 4.7rem;
        left: 0;
        width: 100%;
    }

    .NavbarLogo {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        align-items: center;

    }
}

@media only screen and (max-width: 340px) {
    .Navbar {
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .MenuIcon {
        display: block;
    }

    .NavbarMenu {
        display: none;
    }

    .NavbarMenu.active {
        top: 5rem;
        left: 0;
        width: 100%;
    }

    .SearchBar {
        display: none;
    }

    .NavbarLogo {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        align-items: center;
        gap: .3rem;
    }

    .NavbarLogo img {
        height: 2rem;
        width: 2rem;
        gap: .2rem;
        padding: 0;
    }
}